<footer *ngIf="cart" class="footer fixed-bottom bg-secondary text-white">
  <div class="container">
    <div class="row">
      <div class="col-1 offset-10 offset-md-11">
        <button type="button" class="btn btn-secondary">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h3>{{ cart.title }}</h3>
        <h4>{{ cart.display_artist }}</h4>
      </div>
      <div class="col-2">
        {{ positionMins }}:{{ positionSecs | number: '2.0-0' }} / {{ lengthMins }}:{{ lengthSecs | number: '2.0-0' }}
      </div>
      <div class="col-2">
          <button type="button" class="btn btn-secondary">
              <i class="material-icons">play_arrow</i>
          </button>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <div class="progress">
          <div class="progress-bar marker-intro" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar marker-segue" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <input type="range" class="custom-range col-10 offset-1" [(ngModel)]="positionPercent" />
    </div>
  </div>
</footer>
