<div id="content" class="container">
    <div class="row">
        <div class="card col-sm-10 offset-sm-1">

            <div class="card-header">
                <h1 *ngIf="newCart">New Cart</h1>
                <h1 *ngIf="!newCart">Edit Cart</h1>
            </div>

            <div class="card-body">

                <form #cartEditorForm="ngForm" (ngSubmit)="saveCart(false)">

                    <!-- Cart label, title, display artist and sweeper flag -->

                    <div class="form-group">
                        <label for="label">Label</label>
                        <input type="text" class="form-control" name="label" #label="ngModel" [(ngModel)]="cart.label" [readonly]="!newCart" required appCartLabel />
                    </div>

                    <div class="alert alert-danger" [hidden]="label.valid || label.pristine">
                        A valid cart label consists of letters, numbers and no other characters.
                    </div>

                    <div class="form-group">
                        <label for="artist">Artist</label>
                        <input type="text" class="form-control" name="artist" #artist="ngModel" [(ngModel)]="cart.display_artist" required />
                    </div>

                    <div class="alert alert-danger" [hidden]="artist.valid || artist.pristine">
                        You must supply an artist name for the cart.
                    </div>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="cart.title" required />
                    </div>

                    <div class="alert alert-danger" [hidden]="title.valid || title.pristine">
                        You must supply a title for the cart.
                    </div>

                    <div class="form-group">
                        <label for="sweeper">Sweeper</label>
                        <div class="form-check">
                            <input type="checkbox"class="form-check-input" name="sweeper" [(ngModel)]="cart.sweeper" />
                            <label for="sweeper" class="form-check-label">Can sweep?</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control" name="type" [(ngModel)]="cart.type" required>
                            <option *ngFor="let type of types" [value]="type.type" [ngStyle]="getTypeStyle(type)" >{{ type.type }}</option>
                        </select>
                    </div>

                    <!-- Wavefor editor and audio controls -->

                    <div class="form-group">

                        <div [hidden]="!showCartEditorWaveform">
                            <div id="cart-edit-waveform"></div>
                            <button type="button" class="btn btn-primary" (click)="wavesurfer.playPause()">
                                <i class="material-icons">play_arrow</i>
                                <i class="material-icons">pause</i>
                                Play/Pause
                            </button>
                        </div>

                        <label type="button" class="btn btn-primary btn-file" for="cart-edit-file" *ngIf="allowAudioImport"> 
                            <i class="material-icons">library_add</i>
                            Import File
                            <input type="file" id="cart-edit-file" name="cart-edit-file" accept="audio/*" style="display: none;" (change)="handleImportFile($event.target.files)" [hidden]="!allowAudioImport" />
                        </label>

                    </div>

                    <!-- Other cart properties -->

                    <div class="row">

                        <div class="col-sm-3 mb-3">
                            <label for="audioStart" class="marker-audio form-control">Audio Start</label>
                            <button type="button" class="btn btn-primary form-control" (click)="handleSetClick('audioStart')">Set</button>
                            <input type="number" name="audioStart" [(ngModel)]="cart.marker_audio_start" (change)="handleMarkerChange('audioStart')" class="form-control" step="0.1" min="0.0" required />
                            <button type="button" class="btn btn-primary form-control" (click)="handleCueClick('audioStart')">Cue</button>
                        </div>

                        <div class="col-sm-3 mb-3">
                            <label for="introStart" class="marker-intro form-control">Intro Start</label>
                            <button type="button" class="btn btn-primary form-control" (click)="handleSetClick('introStart')">Set</button>
                            <input type="number" name="introStart" [(ngModel)]="cart.marker_intro_start" (change)="handleMarkerChange('introStart')" class="form-control" step="0.1" min="0.0" required />
                            <button type="button" class="btn btn-primary form-control" (click)="handleCueClick('introStart')">Cue</button>
                        </div>

                        <div class="col-sm-3 mb-3">
                            <label for="introEnd" class="marker-intro form-control">Intro End</label>
                            <button type="button" class="btn btn-primary form-control" (click)="handleSetClick('introEnd')">Set</button>
                            <input type="number" name="introEnd" [(ngModel)]="cart.marker_intro_end" (change)="handleMarkerChange('introEnd')" class="form-control" step="0.1" min="0.0" required />
                            <button type="button" class="btn btn-primary form-control"  (click)="handleCueClick('introEnd')">Cue</button>
                        </div>

                        <div class="col-sm-3 mb-3">
                            <label for="segue" class="marker-segue form-control">Segue</label>
                            <button type="button" class="btn btn-primary form-control" (click)="handleSetClick('segue')">Set</button>
                            <input type="number" name="segue" [(ngModel)]="cart.marker_segue" (change)="handleMarkerChange('segue')" class="form-control" step="0.1" min="0.0" required />
                            <button type="button" class="btn btn-primary form-control" (click)="handleCueClick('segue')">Cue</button>
                        </div>

                        <div class="col-sm-3 mb-3">
                            <label for="audioEnd" class="marker-audio form-control">Audio End</label>
                            <button type="button" class="btn btn-primary form-control" (click)="handleSetClick('audioEnd')">Set</button>
                            <input type="number" name="audioEnd" [(ngModel)]="cart.marker_audio_end" (change)="handleMarkerChange('audioEnd')" class="form-control" step="0.1" min="0.0" required />
                            <button type="button" class="btn btn-primary form-control" (click)="handleCueClick('audioEnd')">Cue</button>
                        </div>

                    </div>

                    <!-- Scheduler Fields -->

                    <div class="form-group">
                        <label for="title">Year</label>
                        <input type="number" class="form-control"  name="year" [(ngModel)]="cart.year" min="0" max="{{ getMaxYear() }}" required />
                    </div>

                    <div class="form-group">
                        <label for="isrc">ISRC</label>
                        <input type="text" class="form-control" name="isrc" [(ngModel)]="cart.isrc" />
                    </div>

                    <div class="form-group">
                        <label for="composerArranger">Composer / Arranger</label>
                        <input type="text" class="form-control" name="composerArranger" [(ngModel)]="cart.composer_arranger" />
                    </div>

                    <div class="form-group">
                        <label for="publisher">Publisher</label>
                        <input type="text" class="form-control" name="publisher" [(ngModel)]="cart.publisher" />
                    </div>

                    <div class="form-group">
                        <label for="artists">Scheduler Artists</label>
                        <div class="form-row mb-3" *ngFor="let artist of cart.artists; let i = index; trackBy: trackArtist">
                            <div class="col">
                                <input type="text" class="form-control" name="artist_{{i}}" [(ngModel)]="cart.artists[i]" />
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-primary" (click)="deleteArtist(artist)">Delete</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" (click)="addArtist()">Add Artist</button>
                    </div>

                    <div class="form-group">
                        <label for="category">Categories</label>
                        <select multiple class="form-control" name="category" [(ngModel)]="cart.categories">
                            <option *ngFor="let category of categories" [value]="category.category">{{ category.category }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tag">Tags</label>
                        <select multiple class="form-control" name="tag" [(ngModel)]="cart.tags">
                            <option *ngFor="let tag of tags" [value]="tag.tag">{{ tag.tag }}</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary mr-1" [disabled]="!cartEditorForm.form.valid">Save</button>
                    <button type="button" class="btn btn-secondary" routerLink="/library">Cancel</button>

                </form>

            </div>

        </div>
    </div>
</div>

<!-- Hidden modal windows -->

<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Confirm Overwrite?</h5>
    </div>
    <div class="modal-body">
        A cart with label {{ cart.label }} already exists. Do you wish to overwrite it?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('overwrite')">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('abort')">No</button>
    </div>
</ng-template>

<ng-template #errorModal let-modal>
    <div class="modal-header">
        Error!
    </div>
    <div class="modal-body">
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ errorMessage }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.dismiss()">Ok</button>
    </div>
</ng-template>

<ng-template #loadingModal let-modal>
    <div class="modal-header">
        Loading...
    </div>
    <div class="modal-body">
        <div class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <strong> {{ loadingMessage }}</strong>
        <ngb-progressbar type="success" [value]="progressPercent" *ngIf="progressPercent > 0"></ngb-progressbar>
    </div>
</ng-template>