/**
 * AllDay DJ Login Screen CSS
 * Author: Marc Steele
 * Date: March 2018
 */
 
 body {
 	background-image: url("/static/images/bg_valley_bw.jpg");
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 }