<div class="d-flex justify-content-center h-100">
    <div class="card mt-5">
      <div class="card-header">
        <h3>Login to AllDay DJ</h3>
      </div>
      <div class="card-body">
  
        <!-- Error Messages -->
  
        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{ error }}
        </div>
  
        <!-- Login Form -->
  
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" #label="ngModel" [(ngModel)]="username" required />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" #label="ngModel" [(ngModel)]="password" required />
          </div>
          <button type="submit" class="btn btn-primary mr-1">Login</button>
        </form>
      </div>
    </div>
  </div>
  