<header class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="/">AllDay DJ</a>
    
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarMain" [ngbCollapse]="navbarCollapsed" *ngIf="user">
    
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/cart">
                    <i class="material-icons">library_music</i>
                    Carts
                </a>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-item nav-link dropdown" id="menu-scheduler" href="#" ngbDropdownToggle>
                    <i class="material-icons">schedule</i>
                    Scheduler
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-scheduler" ngbDropdownMenu>
                    <a class="dropdown-item" href="#">Categories</a>
                    <a class="dropdown-item" href="#">Tags</a>
                    <a class="dropdown-item" href="#">Clocks</a>
                    <a class="dropdown-item" href="#">Grids</a>
                    <a class="dropdown-item" href="#">Logs</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']" routerLinkActive="router-link-active" >
                    <i class="material-icons">play_circle_outline</i>
                    Playout
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <i class="material-icons">settings</i>
                    Administration
                </a>
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto navbar-right" *ngIf="user">
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                    <i class="material-icons">person</i>
                    {{user.username}}
                </a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="logout()">Log Out</a>
                </div>
            </li>
        </ul>
        
    </div>
    
</header>