<div id="content" class="container">
    <div class="row">
        <div class="card col-sm-10 offset-sm-1">

        <div class="card-header">
            <h1>Library</h1>
        </div>

        <div class="card-body">

            <!-- Search Parameters -->

            <!-- Results -->

            <table class="table table-striped">
                <thead>
                    <th scope="col">Label</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col" colspan="3">Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let cart of carts">
                        <th scope="row">{{ cart.label }}</th>
                        <td>{{ cart.display_artist }}</td>
                        <td>{{ cart.title }}</td>
                        <td>{{ cart.type }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" routerLink="/cart/{{ cart.label }}">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="previewCart = cart">Preview</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="deleteCart(cart)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Pagination -->

            <div class="row">
                <div class="col">
                    <ngb-pagination [collectionSize]="totalResults" [(page)]="currentPage" [pageSize]="pageSize"></ngb-pagination>
                </div>
                <div class="col">
                    <select class="custom-select" [(ngModel)]="pageSize" style="width: auto">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                        <option [ngValue]="1000">1000</option>
                    </select> carts per page
                </div>
            </div>

            <!-- Other controls -->

            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" role="button" routerLink="/cart/new">
                        <i class="material-icons">library_add</i>
                        New Cart
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Preview player -->

<app-cart-preview [cart]="previewCart"></app-cart-preview>

<!-- Hidden modal windows -->

<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Confirm Delete?</h5>
    </div>
    <div class="modal-body">
        Are you sure you wish to delete cart {{ deleteSelectedCart.label }}?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteCart(deleteSelectedCart, true)">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('abort')">No</button>
    </div>
</ng-template>

<ng-template #errorModal let-modal>
    <div class="modal-header">
        Error!
    </div>
    <div class="modal-body">
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ errorMessage }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.dismiss()">Ok</button>
    </div>
</ng-template>