@import '~bootstrap/dist/css/bootstrap.css';
@import "./app/bootstrap/bootstrap_pulse.min.css";

/* Background Image */
 
 body {
 	background-image: url("/assets/images/bg_valley_bw.jpg");
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 }

 /* File Inputs */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Form Validation */

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #A94442; /* red */
}

/* Audio Markers */

.marker-audio {
    background: #A94442;
    color: #FFFFFF;
}

.marker-intro {
    background: #42A948;
    color: #000000;
}

.marker-segue {
    background: #FFDC00;
    color: #000000;
}

/* Progress bars */

.progress {
    height: 20px;
}

/* Footer and Preview Player */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}